@charset "utf-8";
/* CSS Document */


body {
  margin: 0;
  font-family: Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  background-image: url("images/background.jpg");
  background-size:cover;
  background-repeat:repeat-y;
  
}
header {
  background-color:#35B5FF;
  padding: 10px 0;
  position:static;
  top:auto;
}

.logo {
	background-image: url("images/Logo.png");
	display:flex;
	justify-content: center;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li  {
  margin: 0 10px;
}

.menu li a {
  color: white; 
  text-decoration: none;
  padding: 8px 16px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu li a:hover {
  background-color: #F0F9FF;
  border-color: #041474;
  color:black;
  text-decoration: overline;
  text-decoration-style:double
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
  height: 100vh;
}

.textbox {
  width: 300px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:#A49BF8;
  text-align: center;
}